w<h1>Editing gallery</h1>

<%= error_messages_for :gallery %>

<% form_for(@gallery) do |f| %>
  <p>
    <b>Description</b><br />
    <%= f.text_field :description %>
  </p>

  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', :action => 'galleries', 
  :controller => 'users', :id => @gallery.user %>
