<h1>New foto</h1>

<%= error_messages_for :foto %>

<% form_for @foto, :html => {:multipart => true} do |f| %>
  <p>
    <b>Description</b><br />
    <%= f.text_field :description %>
  </p>

  <p>
    <b>Select File</b><br />
    <%= file_field 'upload', 'datafile' %></p>
  </p>

<input type="hidden" name="foto[gallery]" value="<%= @foto.gallery.nil? ? params[:id] : @foto.gallery.id %>" />

    <p>
    <b>Latitudes</b><br />
    <%= f.text_field :latitudes %>
  </p>

  <p>
    <b>Longitudes</b><br />
    <%= f.text_field :longitudes %>
  </p>
  
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', :action => 'show',
  :controller=> 'galleries', :id => params[:id] %>